---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";

let title = "Airdashers";
let subheader = "No Baiken No Buy";
let imgSrc = "bg-airdasher";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <h2>SF page</h2>
</PageLayout>
