---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";

let title = "French Bread";
let subheader = "Whens DFCI?";
let imgSrc = "bg-bread";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <h2>SF page</h2>
</PageLayout>
