---
import PageLayout from "../layouts/PageLayout.astro";
let title = "Fundamentals";
let subheader = "Honest El Fuerte footsies";
let imgSrc = "bg-fundamentals";
---

<PageLayout title={title} subheader={subheader} imgSrc={imgSrc}>
  <h2>Fundies page</h2>
</PageLayout>
