---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { db, Resource } from "astro:db";

const resources = await db.select().from(Resource);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-red-600 text-4xl">Biscuits Hops on</h1>

    {
      resources.map((res) => (
        <article>
          <h1>{res.title}</h1>
        </article>
      ))
    }
  </main>
</Layout>
