---
interface Props {
  title: string;
  subheader: string;
  imgSrc: string;
  link: string;
  description: string;
  category: string;
}

import { db, Resource, like } from "astro:db";

export const getStaticPaths = async () => {
  const resources = await db.select().from(Resource);

  return resources.map((resource) => {
    return {
      params: { id: resource.id },
      props: {
        title: resource.title,
        link: resource.link,
        category: resource.category,
        imgSrc: resource.imgSrc,
        description: resource.description,
      },
    };
  });
};

const id = Astro.params.id;
const { link, category, title, imgSrc, description } = Astro.props;
---

<div>
  Welcome thjis is id: {id}
  For the page {title}, this is the description: {description}
  check it out here
  <a href={link} target="_blank">gere</a>
</div>
