---
import { db, Resource, like } from "astro:db";

export const getStaticPaths = async () => {
  const resources = await db.select().from(Resource);

  return resources.map((resource) => {
    return {
      params: { id: resource.id },
      props: { resource },
    };
  });
  // return [
  //   { params: { id: "70" } },
  //   { params: { id: "836" } },
  //   { params: { id: "4030" } },
  //   { params: { id: "5830" } },
  // ];
};

const id = Astro.params.id;
---

<div>
  Welcome thjis is id: {id}
</div>
