---
const { title, link, category, imgSrc, id, description } = Astro.props;
---

<article class="flex flex-col">
	<div class="h-48 overflow-hidden">
		<img src={imgSrc} alt={title} class="w-full h-full object-cover" />
	</div>
	<div class="flex-auto">
		<h2 class="text-white">{title}</h2>
	</div>
</article>
