---

---

<section class="w-full py-24">
  <div
    class="md:max-w-screen-md max-w-screen-lg  mx-auto"
  >
    <h1 class="sm:text-5xl text-3xl text-center font-bold text-neutral-200">
      Your Ultimate Destination for Fighting Game Resources
    </h1>
    <p
      class="md:text-2xl text-xl py-4 text-neutral-400 md:max-w-screen-sm mx-auto text-center font-semibold"
    >
      No more scrolling through your Twitter bookmarks, Reddit posts or trying
      to find the Illuminati Discord
    </p>
  </div>
</section>
