---
const { category, path } = Astro.props;
// gets the current pathname from an Astro component similar to Window.location.href
const { pathname } = Astro.url;

const categories = [
  {
    id: 0,
    category: "All",
    subheader: "frrraaaaay",
    path: "/",
    imgSrc: "",
  },
  {
    id: 1,
    category: "Fundamentals",
    subheader: "Skills for every game",
    path: "/fundamentals",
    imgSrc: "/assets/footsies.gif",
  },
  {
    id: 2,
    category: "Street Fighter",
    subheader: "They Buffed Ryu",
    path: "/street-fighter",
    imgSrc: "/assets/capcom.webp",
  },
  {
    id: 3,
    category: "French Bread",
    subheader: "Lord Kamone",
    path: "/french-bread",
  },
  {
    id: 4,
    category: "Airdashers/Anime",
    subheader: "Goodbye Wednesday Train",
    imgSrc: "/assets/mr-dolphin.webp",
    path: "/airdashers",
  },
];

const activeCategory = pathname;
function showCategories() {
    alert("hello")
}
---

<!-- <nav class="border-2 bg-zinc-700 border-green-700 sticky z-50 bottom-0">
    <button onclick={showCategories} class="text-white text-4xl">{activeCategory}</button>
    <ul>
        {categories.map((cat) => (
            <li>{cat.category}</li>
        ))}
    </ul>
</nav> -->