---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
---

<nav
  class="sticky h-14 inset-x-0 z-30 w-full border-b border-gray-300 backdrop-blur-lg transition-all"
>
  <MaxWidthWrapper>
    <div
      class="flex h-14 items-center justify-between border-b border-zinc-200"
    >
      <a href="/" class="flex z-40 font-semibold"> Ughara </a>
      {/* Links */}
      <div class="hidden items-center space-x-4 sm:flex">
        <>
          <a class="text-neutral-200" href="/biscuits"> About </a>
          <a class="text-neutral-200" href="/biscuits"> About </a>
          <button
            class="relative inline-flex h-8 w-full items-center justify-center rounded-md bg-white px-6 font-medium text-gray-950 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            <div
              class="absolute -inset-0.5 -z-10 rounded-lg bg-gradient-to-b from-[#c7d2fe] to-[#8678f9] opacity-75 blur"
            >
            </div>
            Submit Something!
          </button>
        </>
      </div>
    </div>
  </MaxWidthWrapper>
</nav>
