---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import Dropdown from "./Dropdown";
---

<nav
  class="sticky h-14 inset-x-0 z-30 w-full border-b border-gray-300 backdrop-blur-lg transition-all"
>
  <MaxWidthWrapper>
    <div
      class="flex h-14 items-center justify-between border-b border-zinc-200"
    >
      <a href="/" class="hidden z-40 font-semibold text-white md:flex"> Ughara </a>
      {/* Links */}
      <div class="items-center flex justify-center space-x-4 w-full  sm:w-6/12 md:justify-end">
        <>
          <a class="text-neutral-200" href="/biscuits"> About </a>
          <button
            class="relative group inline-flex h-8  items-center justify-center rounded-md bg-white px-6 font-medium text-gray-950 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50
           
            "
          >
            <div
              class="absolute -inset-[5px] -z-10 rounded-lg bg-gradient-to-r from-pink-600 to bg-violet-600 opacity-65 blur  group-hover:opacity-100 transition duration-200"
            >
            </div>
            Submit Something!
          </button>
        </>
      </div>
    </div>
  </MaxWidthWrapper>
</nav>
