---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
import Dropdown from "./Dropdown";
import { Image } from "astro:assets";
---

<nav class="sticky h-20 inset-x-0 z-30 w-full backdrop-blur-lg transition-all">
  <MaxWidthWrapper>
    <div
      class="flex h-20 items-center justify-between border-b border-zinc-200"
    >
      <a href="/" class="hidden z-40 font-semibold text-white md:flex">
        <Image
          src="/assets/ken-throw.png"
          class=""
          alt="logo"
          height={64}
          width={64}
        />
      </a>
      {/* Links */}
      <div
        class="items-center flex justify-center space-x-4 w-full sm:w-6/12 md:justify-end"
      >
        <>
          <a
            href="/about"
            class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200 duration-500"
            ><div
              class="translate-y-0 transition group-hover:-translate-y-[150%]"
            >
              About
            </div><div
              class="absolute translate-y-[150%] transition group-hover:translate-y-0"
            >
              About
            </div></a
          >
          <a href="https://forms.gle/1Hc5FnaPJ9R1La3g9" target="_blank"
            class="relative cursor-pointer group z-60 inline-flex h-8 items-center justify-center rounded-md bg-white px-6 font-medium text-gray-950 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            <div
              class="absolute -inset-[5px] -z-10 rounded-lg bg-gradient-to-r from-pink-600 to bg-violet-600 opacity-65 blur group-hover:opacity-100 transition duration-200"
            >
            </div>
            Submit Something!
          </a>
        </>
      </div>
    </div>
  </MaxWidthWrapper>
</nav>
