---
const { category, path } = Astro.props;
// gets the current pathname from an Astro component similar to Window.location.href
const { pathname } = Astro.url;
---

<li>
  <a
    href={path}
    class={`${pathname === path ? "bg-neutral-300 text-zinc-800" : "bg-transparent hover:bg-zinc-800 "} border  text-white font-bold py-2 px-4 rounded-full transition ease-in`}
  >
    {category}
  </a>
</li>