---
import Pill from "./Pill.astro";
const categories = [
  {
    id: 0,
    category: "All",
    subheader: "frrraaaaay",
    path: "/",
    imgSrc: "",
  },
  {
    id: 1,
    category: "Fundamentals",
    subheader: "Skills for every game",
    path: "/fundamentals",
    imgSrc: "/assets/footsies.gif",
  },
  {
    id: 2,
    category: "Street Fighter",
    subheader: "They Buffed Ryu",
    path: "/street-fighter",
    imgSrc: "/assets/capcom.webp",
  },
  {
    id: 3,
    category: "French Bread",
    subheader: "Lord Kamone",
    path: "/french-bread",
  },
  {
    id: 4,
    category: "Arcsys",
    subheader: "Goodbye Wednesday Train",
    imgSrc: "/assets/mr-dolphin.webp",
    path: "/arcsys",
  },
];
---

<nav class="py-4 mb-8 hidden md:block">
  <ul
    class="flex flex-wrap justify-center gap-2 w-9/12 mx-auto h-full md:w-11/12"
  >
    {categories.map((cat) => <Pill path={cat.path} category={cat.category} />)}
  </ul>
</nav>
